.container {
  position: -webkit-sticky;
  position: sticky;
  bottom: -40px;
  padding: 115px 60px 50px 70px;
  background-color: #ececec;
  z-index: 1;
}

.itemImage {
  width: 125px;
  height: 70px;
}

.itemImage > img {
  width: 100%;
  margin-left: -14px;
}

.itemText {
  color: #2e313a;
  font: 18px neue-haas-unica, sans-serif;
  margin: 3px 0 0 0;
  padding-bottom: 4px;
}

@media only screen and (max-width: 1200px) {
  .container {
    /* bottom: -125vh; */
    bottom: -1050px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    bottom: -1000px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    bottom: -850px;
    /* bottom: -100vh; */
  }

  .itemText {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    /* bottom: -140vh; */
    bottom: -1160px;
  }

  .container {
    padding: 80px 40px 50px 40px;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    /* bottom: -140vh; */
    bottom: -1050px;
  }

  .container {
    padding: 50px 20px 50px 20px;
  }
}
