.btn {
  color: #fff !important;
  font-size: 24px !important;
  margin: 0 !important;
  padding: 0px 40px 0 0 !important;
  text-transform: unset !important;
}

.workHeading {
  font-size: 32px;
  font-weight: normal !important;
  font-family: 'Open Sans', sans-serif;
  /* margin: 0 0 70px 0 !important; */
  margin-bottom: 60px !important;
}

.active {
  text-decoration: underline;
}
